<div class="task-details">
    <mat-chip-list>
        <mat-chip 
            *ngIf="!task.dueDate"
            [matMenuTriggerFor]="menu"
        >
            <mat-icon class="chip-icon" aria-hidden="true">calendar_today</mat-icon>
            Due Date
        </mat-chip>
        <mat-chip 
            *ngIf="task.dueDate"
            [selected]="task.dueDate"
            color="primary"
            [matMenuTriggerFor]="menu"
            [removable]="true"
            (removed)="clearDueDate()"
        >
            <mat-icon class="chip-icon" aria-hidden="true">calendar_today</mat-icon>
            <span>{{dateInput.value}}</span>
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip><mat-icon class="chip-icon" aria-hidden="true">repeat</mat-icon>Repeat</mat-chip>
        <mat-chip><mat-icon class="chip-icon" aria-hidden="true">alarm</mat-icon>Reminder</mat-chip>
    </mat-chip-list>
    <mat-menu #menu="matMenu" yPosition="above">
        <ng-template matMenuContent>
            <button mat-menu-item (click)="picker.open()">Custom Date</button>
            <button mat-menu-item (click)="setDueDate(4)">Next Week</button>
            <button mat-menu-item (click)="setDueDate(3)">Overmorrow</button>
            <button mat-menu-item (click)="setDueDate(2)">Tomorrow</button>
            <button mat-menu-item (click)="setDueDate(1)">Today</button>
        </ng-template>
    </mat-menu>
    <input 
        matInput 
        [matDatepicker]="picker"
        [(ngModel)]="task.dueDate"
        (dateChange)="onChangeUpdate()"
        #dateInput
        [hidden]="true"
    >
    <mat-datepicker touchUi #picker></mat-datepicker>
    <div class="desc-div" *ngIf="!hideDescription">
        <mat-form-field class="desc-input" appearance="{{appearance}}">
            <mat-label>Add a Description</mat-label>
            <input 
                matInput type="text" 
                [(ngModel)]="task.desc"
                maxlength=100
            >
        </mat-form-field>
    </div>
</div>