.task-details {
    .chip-icon{
        font-size: medium;
        display: flex;
        align-items: center;
    }

    .desc-div {
        margin-top: 12px;
        margin-bottom: -12px;
        display: flex;

        .desc-input {
            flex: 1 1 auto;
        }
    }
}