.tasks {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: auto;
}

.main-toolbar {
    background-color: white; // Override
    z-index: 1000; // Ensure sub-toolbar doesn't overlap toolbar
    padding: 8px 0px 4px;

    .content {
        margin: auto;
        display: flex;
        justify-content: space-between;

        .title {
            font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
            letter-spacing: normal;
            margin: 0;
            display: flex;
            display: -webkit-flex; // For Safari
            align-items: center;
        }
    }
}

.sub-toolbar {
    background-color: white; // Override
    z-index: 1000; // Ensure content doesn't overlap toolbar

    .content, .content-x {
        margin: auto;
        height: auto;
        
        .app-task-filters {
            padding: 12px 4px;
        }
        
    }

    .content-x {
        overflow-x: auto;
        overflow-y: hidden;
    }
}

.sub-toolbar.sticky {
    position: sticky;
    position: -webkit-sticky; // For Safari
    top: 0;
}

.sub-toolbar.lower {
    z-index: 999;
}

@media only screen and (max-width: 612px) {
    .main-toolbar {
        .content {
            padding: 0px 12px;
        }
    }

    .sub-toolbar {
        .content {
            padding: 0px 12px;
        }

        .content-x {
            padding: 0px;
        }        
    }
}

@media only screen and (min-width: 613px) {
    .main-toolbar {
        .content {
            padding: 0px;
            width: 600px;
        }
    }
    
    .sub-toolbar {
        .content, .content-x {
            padding: 0px;
            width: 600px;
        }
    }
}

.page {
    
    .content {
        margin: auto;
    }
}

@media only screen and (min-width: 613px) {
    .page {
        .content {
            width: 600px;
            padding: 4px 0px 15%;
        }
    }
}

@media only screen and (max-width: 612px) {
    .page {
        .content {
            width: 100%;
            padding: 4px 0px 60%;
        }
    }
}