.tasks {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page {
    flex: 1 1 auto;
    overflow-x: hidden; 
    overflow-y: auto; 
    height: 100px;
    padding-bottom: 15%;

    .content {
        padding-top: 12px;
        width: 600px;
        margin: auto;
    }
}

.sub-toolbar {
    background-color: white;
    box-shadow:0px 4px 4px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    z-index: 3;

    .content {
        width: 600px;
        height: 100%;
        margin: auto;
    }
}