
/**********************************************************************
    Side Navigation
 **********************************************************************/

.drawer-container {
    height: 100%;
    overflow-y: hidden;
    background-color: rgb(245, 245, 245);;
}

.drawer-sidenav {
    padding: 12px;
    text-align: right;

    .close-menu-btn {
        display: inline-block;
    }

    .navbar {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .drawer-sidenav {
        width: 200px;
        max-width: 100%;
    }
}

@media only screen and (min-width: 401px) {
    .drawer-sidenav {
        width: 200px;
    }
}

/**********************************************************************
    Tasks Main Div
 **********************************************************************/

.tasks {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: auto;
}


/**********************************************************************
    Main Toolbar
 **********************************************************************/

.main-toolbar {
    background-color: white;    // Override
    z-index: 1000;                // Ensure sub-toolbar doesn't overlap toolbar
    padding-top: 12px;
    padding-bottom: 12px;

    .content, .content-mobile {
        padding: 0px 12px;
    }
    
    .content {
        display: flex;
        display: -webkit-flex; // For Safari
        align-items: center;
        justify-content: space-between;
        height: 42px;
        
        .left {
            .title, .app-search-and-add-box  {
                display: inline-block;
            }

            .app-search-and-add-box {
                margin-left: 12px;
            }
        }
    }

    .content-mobile {
        .title-bar.hidden, .search-bar.hidden {
            display: none;
        }

        .title-bar {
            display: flex;
            display: -webkit-flex; // For Safari
            align-items: center;
            justify-content: space-between;
            height: 42px;

            .actions {
                display: flex;
            }
        }

        .search-bar {
            display: flex;
            display: -webkit-flex; // For Safari
            height: 42px;
            
            .back-btn {
                margin-left: -8px;
            }
    
            .app-search-and-add-box {
                flex: 1 1 auto;
            }
        }
        
    }
}

.title {
    display: flex;
    display: -webkit-flex; // For Safari
    align-items: center;
    .title-content {
        font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
        letter-spacing: normal;
        display: flex;
        display: -webkit-flex; // For Safari
        align-items: center;
    }
}

.menu {
    margin-right: -8px;
}

@media only screen and (max-width: 425px) {
    .main-toolbar {
        .content {
            display: none;
        }
    }
}

@media only screen and (min-width: 426px) {
    .main-toolbar {
        .content-mobile {
            display: none;
        }

        .content {
            .left {
                .app-search-and-add-box {
                    width: calc(234px + ((100vw - 426px) * 0.5))
                }
            }
        }
    }
}

@media only screen and (min-width: 521px) {
    .main-toolbar {
        .content {
            padding: 0;
            width: 500px;
            margin: auto;

            .left {
                .app-search-and-add-box {
                    width: 281px;
                }
            }
        }
    }
}

@media only screen and (min-width: 751px) {
    .main-toolbar {
        .content {
            margin: 0 calc(25px + 2vw);
            width: auto;
        }
    }
}

/**********************************************************************
    Sub Toolbar and Page
 **********************************************************************/

.sub-toolbar {
    background-color: white; // Override

    .content {
        height: auto;

        .title.desktop {
            padding: 14px 14px 0 0;
            float: left;
        }

        .menu.desktop {
            float: right;
        }
    }

    .content-x {
        height: auto;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
    }
}

.sticky {
    z-index: 999; // Ensure content doesn't overlap toolbar
    display: flex;
    flex-direction: column;
    position: sticky;
    position: -webkit-sticky; // For Safari
    top: 0;
}

@media only screen and (max-width: 750px) {
    
    .sub-toolbar {
        .content {
            .app-add-task {
                padding-top: 8px;
                margin: auto;
            }
        }
    }

    .page {
        .content {
            padding-top: 12px;
            .app-task-list {
                margin: auto;
            }
        }
    } 

    .title.desktop {
        display: none;
    }

    .menu.desktop {
        display: none;
    }

    .app-task-filters {
        width: auto;
    }
}

@media only screen and (min-width: 751px) {
    .sub-toolbar {
        .content {
            margin-right: calc(25px + 2vw);
            margin-left: calc(25px + 2vw);

            .app-add-task {
                float: left;
            }
        }

        .content-x {
            margin-left: calc(25px + 2vw);
        }
    }

    .sub-toolbar.add-task {
        padding-top: 12px;
    }

    .page {
        .content {
            padding-top: 20px;

            .app-task-list {
                margin-left: calc(25px + 2vw);
            }
        }
    }
    
    .title.desktop {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 520px) {
    .sub-toolbar {
        .content {
            padding: 0px 12px;

            .app-add-task {
                width: 100%;
            }
        }

        .content-x {
            padding: 0px;
        }        
    }

    .app-task-filters {
        padding: 4px 0px;
    }

    .page {
        .content {
            padding-bottom: 60%;

            .app-task-list {
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 521px) and (max-width: 750px) {
    .app-task-filters {
        margin: auto;
        width: 500px;
    }
}

@media only screen and (min-width: 521px) {
    .sub-toolbar {
        .content, .content-x {
            padding: 0px;

            .app-add-task {
                width: 500px;
            }
            .app-task-filters {
                padding: 4px 0px;
            }
        }
    }

    .page {
        .content { 
            .app-task-list {
                width: 500px;
            }
        }
    }
}
