<div class="title-bar default-bg-color padding-large">
  <div class="content flex justify-space-between margin-auto">
    <span class="primary-color flex items-center font-x-large">
      <mat-icon aria-hidden="true" color="primary" class="margin-right-small">light_mode</mat-icon>
      [App Title]
    </span>
   <button mat-button color="accent" (click)="navToRegister()">Sign Up</button>
  </div>
</div>
<mat-divider></mat-divider>
<div class="login-div margin-top-medium">
  <mat-card class="border-not-rounded-500 mat-elevation-z0 basic-shadow">
    <span class="primary-color flex items-center font-large padding-bottom-large">
      <mat-icon class="margin-right-small">login</mat-icon> Sign In
    </span>
    <mat-divider></mat-divider>
    <form [formGroup]="loginFormGroup" class="flex flex-column margin-top-x-large">
      <mat-form-field appearance="outline">
        <mat-label>Email or username</mat-label>
        <mat-icon matPrefix color="primary" class="margin-right-small">account_circle</mat-icon>
        <input 
          matInput 
          required
          type="email" 
          [formControl]="this.emailOrUsername">
        <mat-error *ngIf="emailOrUsername.invalid">
          <div *ngIf="emailOrUsername.errors?.required">Email or username is required</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <mat-icon matPrefix color="primary" class="margin-right-small">password</mat-icon>
        <input 
          matInput 
          required
          type="password"
          [formControl]="this.password">
        <mat-error *ngIf="password.invalid">
          <div *ngIf="password.errors?.required">Password is required</div>
        </mat-error>
      </mat-form-field>
      <div><button type="button" mat-button color="accent" (click)="navToForgotPass()">Forgot Password?</button></div>
      <button 
        mat-flat-button 
        type="submit" 
        color="accent" 
        class="special-btn margin-top-x-large"
        [disabled]="!loginFormGroup.valid"
      >Sign In</button>
      <span class="margin-top-x-large">Don't have an account yet? <a href="/register">Sign Up Now!</a></span>
    </form>
  </mat-card>
</div>
<!-- @todo Add forgot email, password -->