.task-item-card {
    z-index: 1;
}

.task-item-card-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.checkbox-and-info {
    display: flex;
    align-items: center;
}

.task-details {
    padding-top: 12px;
}

.task-info {
    padding: 4px 0px;
    margin-left: 12px;

    .task-name {
        border: none;
        font-size: 1.1em;
    }

    .completed {
        text-decoration: line-through;
        color: rgb(100, 100, 100);
    }

    .task-name:focus {
        outline: none;
    }

    .desc {
        font-size: 1em;
        font-style: italic;
        color: rgb(110, 110, 110);
        text-align: left;
    }
    
    .due-date {
        font-size: small;
        color: rgb(110, 110, 110);
        text-align: left;
    }

    .overdue, .due-today{
        color: red;
    }
}

.item-selected {
    margin: -4px -12px -4px;
    z-index: 2;

    .task-info {
         
        .task-name {
            font-size: 1.2em;
        }

        .due-date {
            font-size: 1em;
        }
    }
}

@media only screen and (max-width: 612px) {
    .item-selected {
        margin: 4px 0px;
    }
}

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.btn-saving {
    visibility: hidden;
}

.action-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider {
    margin-top: 12px;
}

.close-edit {
    align-self: start;
    margin-top: -8px;
    margin-right: -8px;
}