<div class="task-detail-header padding-large padding-bottom-medium padding-top-x-large flex items-center">
  <mat-checkbox 
    [(ngModel)]="task.completed"
    (change)="toggleCompleted()"
    >
  </mat-checkbox>
  <div class="margin-left-medium flex-auto">
    <app-task-set-name [task]="task"></app-task-set-name>
    <app-task-set-desc [task]="task"></app-task-set-desc>
  </div>
</div>
<mat-divider></mat-divider>
<div class="task-detail-body margin-bottom-small">
  <mat-nav-list class="relative">
    <a mat-list-item><app-task-assign-list></app-task-assign-list></a>
    <a mat-list-item (click)="dueDate.openMenu($event)">
      <app-task-set-due-date #dueDate class="full-width" [task]="task"></app-task-set-due-date>
    </a>
    <div *ngIf="task.dueDate" class="remove-btn remove-2 absolute right margin-right-small">
      <button 
        mat-icon-button 
        aria-label="Clear"
        color="accent"
        (click)="dueDate.clearDueDate()"
      >
        <mat-icon 
          aria-hidden="true"
          [inline]="true"
        >clear</mat-icon>
      </button>
    </div>
    <a mat-list-item><app-task-set-reminder></app-task-set-reminder></a>
    <a mat-list-item><app-task-make-recurring></app-task-make-recurring></a>
  </mat-nav-list> 
</div>
<mat-divider></mat-divider>
<div class="task-detail-actions padding-medium"> <!-- flex items-center justify-space-between"> -->
  <button
    mat-icon-button
    color="accent" 
    aria-label="Delete task"
    (click)="remove()"    
    class="delete-btn float-left"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button
    mat-icon-button
    aria-label="Cancel edit"
    color="accent"
    (click)="dismiss()"    
    class="float-right"
  >
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <div class="save-btn-div margin-auto">
    <button
      mat-stroked-button
      color="accent" 
      aria-label="Save task"
      (click)="save()"    
      [disabled]="isSaving  || !isEdited"
      class="save-btn full-width"
    >
      <div *ngIf="isSaving" class="spinner-container"> 
        <mat-spinner color="accent" diameter="24"></mat-spinner>
      </div>
      <span [ngClass]="{'hidden': isSaving}">Save</span>
      <mat-icon [ngClass]="{'hidden': isSaving}">keyboard_arrow_down</mat-icon>
    </button>
  </div>
</div>
