<div class="login-div max-width-500 full-height-500 flex flex-column">
  <mat-card class="border-not-rounded-500 mat-elevation-z0 basic-shadow flex-auto" @fade>
    <div class="flex flex-column justify-center margin-top-large">
      <div class="primary-color font-x-large bold text-center">[App Title]</div>
      <div class="primary-color font-large text-center margin-top-large margin-bottom-xx-large">
        Sign In
      </div>
      <form [formGroup]="loginFormGroup" class="flex flex-column margin-bottom-xxx-large" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <mat-icon matPrefix color="primary" class="margin-right-small">account_circle</mat-icon>
          <input 
            matInput 
            required
            type="text" 
            [formControl]="this.username"
            (blur)="trim('username')"
          >
          <mat-error *ngIf="username.invalid">
            <div *ngIf="username.errors?.required">Username is required</div>
            <div *ngIf="username.errors?.notFound">User was not found</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <mat-icon matPrefix color="primary" class="margin-right-small">password</mat-icon>
          <input 
            matInput 
            required
            type="password"
            [formControl]="this.password">
          <mat-error *ngIf="password.invalid">
            <div *ngIf="password.errors?.required">Password is required</div>
            <div *ngIf="password.errors?.incorrect">Password is incorrect</div>
            <div *ngIf="password.errors?.badCredentials">Incorrect username or password</div>
          </mat-error>
        </mat-form-field>
        <button 
          mat-flat-button 
          type="submit" 
          color="accent" 
          class="special-btn margin-top-small"
          [disabled]="!loginFormGroup.valid || isLoggingIn"
        >
          <div *ngIf="isLoggingIn" class="spinner-container">
            <mat-spinner color="accent" diameter="24"></mat-spinner>
          </div>
          <span [ngClass]="{'hidden': isLoggingIn}">Sign In</span>
        </button>
        <a href="#" class="link margin-top-x-large text-center">Forgot password?</a>
      </form>
      <div class="absolute bottom left right text-center padding-bottom-large">
        <span>Don't have an account yet?&nbsp;&nbsp;<a href="/register" class="bold link accent-color">Sign Up</a></span>
      </div>
    </div>
    
    
  </mat-card>
</div>
<!-- @todo Add forgot email -->