.task-list-card {
    margin-top: 12px;
    padding-top: 8px;
}

.results-caption {
    margin-bottom: -4px;
    margin-left: 12px;
}

.task-item {
    display: inline-block;
    margin-top: 2px;
    width: 100%;
}

.task-list {
    text-align: center;
}

.task-list :first-child{
    margin-top: 0px;
}
