<app-task-filters
    [(filters)]="filters"
    (filtersChange)="getTasks()"
></app-task-filters>
<div *ngIf="nameSearch" class="results-caption">
    <i>
        <p>Showing {{ this.taskCount }} {{ this.processCount('result', this.taskCount)}} for <b>{{ this.nameSearch }}</b></p>
    </i>
</div>
<div class="task-list">
    <div *ngFor="let task of tasks" class="task-item">
        <app-task-item
            [task]=task
            [today]="currentDate"
            [tomorrow]="tomorrowDate"
        ></app-task-item>
    </div>
</div>

