.due-date-chips {
    margin-bottom: 8px; 
}

@media only screen and (min-width: 613px) {
    .chip-list-div {
        padding: 0px;
    }
}

@media only screen and (max-width: 612px) {
    .chip-list-div {
        padding: 0px 12px;
    }
}
.chip-list-div {
    display: flex;
    align-items: center;
}

.chip-icon {
    font-size: medium;
    display: flex;
    align-items: center;
}

.chip-icon-right {
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
}

.due-date-header {
    margin-bottom: -24px;
    margin-top: 8px;
}