.due-date-header {
    display: flex;
    display: -webkit-flex; // For Safari
    justify-content: center;
    margin-bottom: -4px;
    margin-top: 16px;
}

.due-date-chips {
    margin: 24px 16px 36px;
}

.menu-prefix {
    width: 30px;
    display: inline-block;
}

@media only screen and (min-width: 521px) {
    .chip-list-div {
        padding: 0px;
    }
}

@media only screen and (max-width: 520px) {
    .chip-list-div {
        padding: 0px 12px;
    }
}
.chip-list-div {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.chip-icon {
    font-size: medium;
    display: flex;
    align-items: center;
}

.chip-icon-right {
    font-size: medium;
    margin-left: -4px;
}