<mat-chip-list multiple="true">
    <div class="chip-list-div">
        <span>Filters</span>&nbsp;&nbsp;&nbsp;
        <mat-chip 
            selected="true"
            color="accent"
            (click)="openDueDateSheet()"
        >
            <mat-icon class="chip-icon" aria-hidden="true">calendar_today</mat-icon>
            {{filters.dueDateDisplay}}
            <mat-icon class="chip-icon-right" aria-hidden="true">arrow_drop_down</mat-icon>
        </mat-chip>
        <mat-chip
            [selected]="filters.showCompleted"
            color="accent"
            (click)="toggleCompleted()"
        >
            <mat-icon class="chip-icon" aria-hidden="true">check_box</mat-icon>
            Show Completed
        </mat-chip>
        <mat-chip>
            <mat-icon class="chip-icon" aria-hidden="true">list</mat-icon>
            List
            <mat-icon class="chip-icon-right" aria-hidden="true">arrow_drop_down</mat-icon>
        </mat-chip>
    </div>
    
</mat-chip-list>