.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.toolbar {
    background-color: white;

    .toolbar-content {
        width: 600px;
        margin: auto;
        display: flex;
        align-items: center;
    }

}

.task-app {
    flex: 1 1 auto;
}