.search-div {
    .search-field {
        width: 100%;
    }
}

.add-task-details {
    margin-bottom: 16px;
}

.suffix {
    display: flex;
}

.setting-on {
    color: #ff4081;
}

.setting-off {
    color: #6e6e6e;
}