.search-field {
    width: 100%;
}

.add-task-details {
    display: flex;
    padding: 0px 12px;
    justify-content: space-between;

    .desc-input {
        flex: 1 1 auto;
    }
}

.suffix {
    display: flex;
}

.setting-on {
    color: #ff4081;
}

.setting-off {
    color: #6e6e6e;
}