<div class="search-div">
    <form (ngSubmit)="addTask()">
        <mat-form-field
            #searchField 
            class="search-field" 
            appearance="outline"
            color="primary"
        >
            <mat-label>Search or Add a Task</mat-label>
            <span matPrefix><mat-icon aria-hidden="true">search</mat-icon></span>
            <input 
                matInput
                placeholder="E.g. Read the Bible"
                type="text" 
                id="task-input" 
                name="task-input"
                autocomplete="off"
                maxlength=100
                [(ngModel)]="task.name"
                (keyup)="searchSubject.next()"
                
            >
            <div matSuffix>
                <div class="suffix">
                    <button
                        type="button"
                        mat-icon-button
                        [matTooltip]="exactPhraseOn ? 'Search exact phrase on' : 'Search exact phrase off'"
                        aria-label="Search with Exact Phrase"
                        (click)="toggleExactPhrase()"    
                    >
                        <mat-icon
                            [ngClass]="{
                                'setting-on': exactPhraseOn,
                                'setting-off': !exactPhraseOn 
                            }"
                        >format_quote</mat-icon>
                </button>                
                </div>
            </div>
        </mat-form-field>
    </form>
</div>
<div
    *ngIf="!addDisabled"
    class="add-task-details"
>   
    <mat-card class="mat-elevation-z1">
        <div class="app-task-detail-div">
            <app-task-detail
                [task]="task"
                appearance="outline"
                hideDescription="true"
            ></app-task-detail>
        </div>
        <mat-divider></mat-divider>
        <mat-card-actions class="add-task-card-actions">
            <button
                type="submit"
                mat-button
                color="accent" 
                aria-label="Add Task"
                [disabled]="addDisabled"
                (click)="addTask()"    
            >
                Add Task
            </button>
        </mat-card-actions>
    </mat-card>
</div>

