.search-div {
    .search-field {
        width: 100%;
    }
}

.add-task-details {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.add-task-card-actions {
    display: flex;
    justify-content: center;
}

.suffix {
    display: flex;
}

.setting-on {
    color: #ff4081;
}

.setting-off {
    color: #6e6e6e;
}