.search-box {
  background-color: #f3f3f3;
  // background-color: #e0e0e0;
  border-radius: 6px;
  border: 2px solid #ffffff;

  .search-form {
    display: flex;
    .search-field {
      display: flex;
      display: -webkit-flex; // For Safari
      align-items: center;
      height: 40px;
      width: 100%;
  
      .search-icon {
        margin-left: 8px;
        color: #313131;
      }

      .task-input {
        margin-left: 4px;
        background: transparent;
        border: none;
        font-size: 1em;
        flex: 1 1 auto;
      }

      .task-input:focus {
        outline: none;
      }
    }

    .suffix {
      display: flex;
      display: -webkit-flex; // For Safari
      align-items: center;
      // margin-right: 8px;
      // display: flex;
    }
  }
}

.search-box.focused {
  border: 2px solid #3f51b5;
}

.add-task-details {
  padding-bottom: 8px;
}

.setting-on {
  color: #ff4081;
}

.setting-off {
  color: #6e6e6e;
}