<div class="task-item-div" #taskItemDiv>
  <mat-card 
    matRipple
    class="task-item-card mat-elevation-z0"
  >
    <div class="task-item-card-contents relative">
      <div class="checkbox-and-info">
        <mat-checkbox
          [(ngModel)]="task.completed"
          (change)="toggleCompleted()"
          >
        </mat-checkbox>
        <div
          #taskInfo
          class="task-info margin-left-large flex-auto" 
          (click)="openTaskDetailSheet()"
        >
          <div *ngIf="isUpdated" class="task-state emphasis-color font-small">Updated✨</div>
          <div class="relative">
            <div 
              class="task-name primary-color break-word overflow-y-hidden"
              [ngClass]="{'completed': task.completed}"
            >
              <span class="task-name-value" #taskNameValue>{{ task.name }}</span>
            </div>
            <div #taskNameFade class="fade-text name absolute right primary-color">
              <mat-icon [inline]="true">unfold_more</mat-icon>
            </div>
          </div>
          <div class="relative">
            <div *ngIf="task.desc" class="task-desc caption-color break-word overflow-y-hidden">
              <span class="task-desc-value" #taskDescValue>{{ task.desc }}</span>
            </div>
            <div #taskDescFade class="fade-text desc absolute right caption-color">
              <mat-icon [inline]="true">unfold_more</mat-icon>
            </div>
          </div>
          <div 
            *ngIf="task.dueDate"
            class="due-date font-small caption-color"
            [ngClass]="{'due-today': isToday}"
          >
            <ng-container *ngIf="isToday; else tomorrow">Today</ng-container>
            <ng-template #tomorrow>
              <ng-container *ngIf="isTomorrow else displayDate">Tomorrow</ng-container>
            </ng-template>
            <ng-template #displayDate>
              {{ isCurrentYear ? (task.dueDate | date:'MMM d') : (task.dueDate | date) }} 
            </ng-template>
            <span *ngIf="isOverdue && !task.completed" class="overdue"> - Overdue</span>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
