<mat-drawer-container class="drawer-container" autosize>
    <!-- For future implementation -->
    <!-- <mat-drawer class="drawer-sidenav display-block-vlap display-none" mode="side" position="start" opened="true"> 
        <app-navbar class="navbar"></app-navbar>
    </mat-drawer> -->
    <mat-drawer #drawer class="drawer-sidenav" mode="over" position="end">
        <app-navbar class="navbar" (done)="toggleSidenav()"></app-navbar>
    </mat-drawer>
    <mat-drawer-content (scroll)="onScroll($event)"> 
        <div class="tasks">
            <div class="placeholder full-width" 
                [ngClass]="{'display-block': toolbarFixed}"
            ></div>
            <div 
                #headerDiv
                class="default-bg-color full-width z-toolbar header" 
                [ngClass]="{
                    'no-animation': noAnimation,
                    'slide-out': hideToolbar,
                    'fixed': toolbarFixed
                }"
            >
                <app-main-toolbar class="full-width flex flex-column" (menuClicked)="toggleSidenav()"></app-main-toolbar>
                <app-sub-toolbar></app-sub-toolbar>
                <mat-divider></mat-divider>
            </div>
            <div class="page">
                <div class="content">
                    <div class="app-task-list">
                        <app-task-list></app-task-list>
                    </div>
                    <button 
                        class="add-btn z-foreground-2 fixed bottom margin-bottom-large"
                        [ngClass]="{'hide': hideToolbar}"
                        mat-fab
                        aria-label="Add task button" 
                        color="accent"
                        (click)="openAddTaskSheet()"
                    >
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>



