/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f3f3f3;
}

/* Text */

.break-word {
    word-break: break-word;
}

.link {
    text-decoration: none;
}

/* Grid */
.grid {
    display: grid;
}

/* Flexbox */

.flex {
    display: flex !important;
    display: -webkit-flex !important;
}

.flex-auto {
    flex: 1 1 auto;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-flex-end {
    justify-content: flex-end;
}

.margin-0-auto {
    margin: 0 auto;
}

.margin-auto {
    margin: auto;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

/* Appearance and Layouting */

.display-none {
    display: none !important;
}

@media only screen and (min-width: 769px) {
    .display-none-vlap {
        display: none !important;
    }

    .display-block-vlap {
        display: block !important;
    }
}

.display-block {
    display: block !important;
}

.display-inline {
    display: inline !important;
}

.hidden {
    visibility: hidden; // takes up space
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-y-hidden {
    overflow-x: auto;
    overflow-y: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
    overflow-y: auto;
}

.auto-width {
    width: auto;
}

@media only screen and (max-width: 500px) {
    .full-width-500 {
        width: 100% !important;
    }

    .full-height-500 {
        height: 100% !important;
    }
}

.full-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed !important;
}

.sticky {
    position: sticky !important;
}

.top {
    top: 0;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

.bottom {
    bottom: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.valign-middle {
    vertical-align: middle !important;
}

/* Spacing */

// All margins

.margin-xx-small {
    margin: 2px !important;
}

.margin-x-small {
    margin: 4px !important;
}

.margin-small {
    margin: 8px !important;
}

.margin-medium {
    margin: 12px !important;
}

.margin-large {
    margin: 16px !important;
}

.margin-x-large {
    margin: 24px !important;
}

// Bottom margin

.margin-bottom-xx-small {
    margin-bottom: 2px !important;
}

.margin-bottom-x-small {
    margin-bottom: 4px !important;
}

.margin-bottom-small {
    margin-bottom: 8px !important;
}

.margin-bottom-medium {
    margin-bottom: 12px !important;
}

.margin-bottom-large {
    margin-bottom: 16px !important;
}

.margin-bottom-x-large {
    margin-bottom: 24px !important;
}

.margin-bottom-xx-large {
    margin-bottom: 32px !important;
}

.margin-bottom-xxx-large {
    margin-bottom: 64px !important;
}

// Left margin

.margin-left-xx-small {
    margin-left: 2px !important;
}

.margin-left-x-small {
    margin-left: 4px !important;
}

.margin-left-small {
    margin-left: 8px !important;
}

.margin-left-medium {
    margin-left: 12px !important;
}

.margin-left-large {
    margin-left: 16px !important;
}

.margin-left-x-large {
    margin-left: 24px !important;
}

// Top margin

.margin-top-xx-small {
    margin-top: 2px !important;
}

.margin-top-x-small {
    margin-top: 4px !important;
}

.margin-top-small {
    margin-top: 8px !important;
}

.margin-top-medium {
    margin-top: 12px !important;
}

.margin-top-large {
    margin-top: 16px !important;
}

.margin-top-x-large {
    margin-top: 24px !important;
}
.margin-top-xx-large {
    margin-top: 32px !important;
}

// Right margin

.margin-right-xx-small {
    margin-right: 2px !important;
}

.margin-right-x-small {
    margin-right: 4px !important;
}

.margin-right-small {
    margin-right: 8px !important;
}

.margin-right-medium {
    margin-right: 12px !important;
}

.margin-right-large {
    margin-right: 16px !important;
}

.margin-right-x-large {
    margin-right: 24px !important;
}

// All paddings

.padding-x-small {
    padding: 4px !important;
}

.padding-small {
    padding: 8px !important;
}

.padding-medium {
    padding: 12px !important;
}

.padding-large {
    padding: 16px !important;
}

.padding-x-large {
    padding: 24px !important;
}

// Bottom padding

.padding-bottom-xx-small {
    padding-bottom: 2px !important;
}

.padding-bottom-x-small {
    padding-bottom: 4px !important;
}

.padding-bottom-small {
    padding-bottom: 8px !important;
}

.padding-bottom-medium {
    padding-bottom: 12px !important;
}

.padding-bottom-large {
    padding-bottom: 16px !important;
}

.padding-bottom-x-large {
    padding-bottom: 24px !important;
}

.padding-bottom-xx-large {
    padding-bottom: 32px !important;
}

.padding-bottom-half {
    padding-bottom: 50vh;
}

.padding-bottom-quarter {
    padding-bottom: 25vh;
}

// Left padding

.padding-left-xx-small {
    padding-left: 2px !important;
}

.padding-left-x-small {
    padding-left: 4px !important;
}

.padding-left-small {
    padding-left: 8px !important;
}

.padding-left-medium {
    padding-left: 12px !important;
}

.padding-left-large {
    padding-left: 16px !important;
}

.padding-left-x-large {
    padding-left: 24px !important;
}

// Top padding

.padding-top-xx-small {
    padding-top: 2px !important;
}

.padding-top-x-small {
    padding-top: 4px !important;
}

.padding-top-small {
    padding-top: 8px !important;
}

.padding-top-medium {
    padding-top: 12px !important;
}

.padding-top-large {
    padding-top: 16px !important;
}

.padding-top-x-large {
    padding-top: 24px !important;
}

// Right padding

.padding-right-xx-small {
    padding-right: 2px !important;
}

.padding-right-x-small {
    padding-right: 4px !important;
}

.padding-right-small {
    padding-right: 8px !important;
}

.padding-right-medium {
    padding-right: 12px !important;
}

.padding-right-large {
    padding-right: 16px !important;
}

.padding-right-x-large {
    padding-right: 24px !important;
}

.padding-none {
    padding: 0 !important;
}

/* Colors */

.primary-color {
    color:#3f51b5;
    /** Options **/
    // color:#3d60e4;
    // color: #1877f2;
}

.primary-bg-color {
    background-color:#3f51b5 !important;
}

.transparent-bg-color {
    background-color: transparent !important;
}

.default-bg-color {
    background-color: white !important;
}

.emphasis-bg-color {
    background-color: #229705 !important;
}

.accent-color {
    color: #ff4081 !important;
}

.warn-color {
    color: red !important;
}

.default-color {
    color: black !important;
}

.inverse-default-color {
    color: white;
}

.caption-color {
    color: #555555;
}

.caption-light-color {
    color: #888888;
}

.emphasis-color {
    color:#229705;
}

.success-color {
    color:#229705;
}

/* Typography */

.font-material {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bold {
    font-weight: 500 !important;
}

.italic {
    font-style: italic;
}

.font-x-small {
    font-size: x-small;    
}

.font-small {
    font-size: small;    
}

.font-medium {
    font-size: medium;    
}

.font-large {
    font-size: large !important;    
}

.font-x-large {
    font-size: x-large;    
}

.font-xx-large {
    font-size: xx-large;    
}

/* Z-index */

.z-background {
    z-index: 0;
}

.z-foreground-0 {
    z-index: 50;
}

.z-foreground-1 {
    z-index: 100;
}

.z-foreground-2 {
    z-index: 200;
}

.z-toolbar {
    z-index: 1000;
}

.z-sub-toolbar {
    z-index: 900;
}

/* Borders */

.border-rounded {
    border-radius: 16px !important;    
}

@media only screen and (max-width: 500px) {
    .border-not-rounded-500 {
        border-radius: 0 !important;
    }
}

/* Misc */
.basic-shadow {
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.05);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.05);
}


/* Material Styling Override */

.special-btn {
    min-width: 100px !important;
    border-radius: 20px !important;
    height: 40px;
}

.search-div {
    .mat-form-field-outline {
        border: none;
        color: #f3f3f3;
        background-color: #f3f3f3;
        border-radius: 6px;
    }

    .mat-form-field-outline-thick {
        color: rgba(0,0,0,.87);
    }

    .mat-form-field-wrapper {
         padding-bottom: 4px;
    }

    .mat-form-field-label {
        color:rgb(39, 39, 39);     
    }
}

.task-list .mat-list-item {
    height: auto;
}

@media only screen and (max-width: 520px) {
    .task-item {
        .mat-card {
            border-radius: 6px;
        }
    }

   
}

@media only screen and (max-width: 959px) {
     .mat-bottom-sheet-container {
        width: 100vw !important;
        max-width: 500px !important;
        min-width: 0 !important;
    }
}

.content-x-scrollable {
    .mat-chip-list-wrapper {
        flex-wrap: nowrap;
        overflow-x: auto;
        white-space: nowrap;
        margin: 4px 0 4px 4px;
        
        .mat-chip {      
                flex: 0 0 auto;       
        }
    }
}

.mat-toolbar {
    .mat-toolbar-row {
        padding: 0;
    }
}

.mat-bottom-sheet-container {
    border-radius: 8px 8px 0 0;
    padding: 0 !important;
}

.divider-light {
    border-color: #ededed;
}

.action-typo {
    font-size: 14px;
    font-weight: 500;
}

.mat-chip.mat-standard-chip {
    background-color: #f3f3f3;
    color: rgba(0,0,0,.87);
}

.mat-drawer-container {
    background-color: transparent !important;
}

.mat-menu-panel {
    border-radius: 8px !important;
    .mat-menu-content:not(:empty) {
        padding: 0 !important;
    }
}

.mat-flat-button.mat-button-disabled {
    background-color: rgba(0,0,0,.05) !important;
}

.cdk-overlay-connected-position-bounding-box {
    margin: 8px 0;
}

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.mat-expansion-panel-header {
    padding: 0 16px !important;

    // .mat-content {
    //     display: flex;
    //     align-items: center;
    // }
}

.mat-expansion-panel-body {
    padding: 0 !important;
}

// .cdk-overlay-container {
    // -webkit-backdrop-filter: blur(3px);
    // backdrop-filter: blur(3px);
// }