<mat-chip-list multiple="true">
    <div class="chip-list-div">
        <span class="margin-left-xx-small">Filters</span>&nbsp;&nbsp;&nbsp;
        <mat-chip #listChip color="accent" 
            (click)="selectListFilter()" 
            selected="true"
        > 
            <mat-icon class="chip-icon" aria-hidden="true">list</mat-icon>
            {{filters?.list.name | titlecase}}
        </mat-chip>
        <mat-chip 
            #dueDateChip
            color="accent"
            (click)="selectDueDateFilter()"
            [selected]="filters?.dueDate.code !== 'default'"
            (removed)="resetDueDateFilter()"
        >
            <mat-icon class="chip-icon" aria-hidden="true">calendar_today</mat-icon>
            {{filters?.dueDate.displayText}}
            <mat-icon matChipRemove *ngIf="filters?.dueDate.code !== 'default'">cancel</mat-icon>
        </mat-chip>
        <mat-chip
            #showCompletedChip
            color="accent"
            (click)="selectShowCompletedFilter()"
            [selected]="filters?.showCompleted"
            [removable]="filters?.showCompleted"
            (removed)="resetShowCompletedFilter()"
        >
            <mat-icon class="chip-icon" aria-hidden="true">check_box</mat-icon>
            <ng-container *ngIf="filters?.showCompleted; else hide">Show</ng-container><ng-template #hide>Hide</ng-template> Completed
            <mat-icon matChipRemove *ngIf="filters?.showCompleted">cancel</mat-icon>
        </mat-chip>
    </div>
</mat-chip-list>